/*set color variables*/
:root{
    --color1: lightcyan;
    --color2: darkblue;
    --color3: cyan;
}

body{
    background-color: var(--color1);
}

header{
    background-color: var(--color2);
    color: var(--color1);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    flex-wrap: wrap;
}

/*moves name more to the left*/
h1{
    font-size: 1.4em;
    color: var(--color3);
    position: relative;
    margin-left: -25%;
}

nav{
    padding: 1%;
}

/*makes the links not look like links*/
header a{
    color: var(--color1);
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 15px;
}

header a:hover{
    color: var(--color3);
    text-decoration: overline;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section{
    margin: 0 0 3% 5%;
}

h2{
    font-size: 1.8em;
}

footer{
    text-align: center;
    font-weight: bold;
    color: var(--color3);
    background-color: var(--color2);
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
}

#projects{
    display: inline-flex;
    width: 65%;
    flex-direction: row;
    flex-wrap: wrap; 
}

/*sets images to 1/3rd size*/
#projects img{
    width: 30%;
    max-height: auto;
}

/*first image is bigger*/
#projects #first{
   width: 40%;
   height: auto;
}

/*places the captions for the projects inside of the pictures*/
#projects p{
    position: relative;
    margin-top: -25px;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

#me{
    height: 80%;
    width: auto;
    margin-left: 6%;
}

#shelfie{
    width:65%;
    max-height:150px;
    background-size: cover;
    background-position: right;
    margin-left: 35%;
    position: relative;
    margin-top: -5%;
}

section img:hover{
    border: 5px solid red;
}

/*formatting for the contact portion*/
ul li,
ul li a{
    margin: 2% 0;
    color: var(--color2);
    text-decoration: none;
}

main h2{
    border-right: 4px solid var(--color3);
    width: 20%;
    margin: 0 5% ;
    padding: 5% 5%;
    text-align: right;
}

main div{
    flex-direction: row;
    display: inline-flex;
}

#projects div{
    flex-direction: column;
    width: 100%;
}


/*
@media screen and (max-width: 1180px) {
    h1{
        margin-left: -10%;
    }

    aside{
        min-height: 500px;
    }
}

@media screen and (max-width: 980px) {
    h1{
        margin-left:0;
    }
    
    /*reformats project pictures to 1-2-2
    #projects img{
        width: 49.75%;
    }

    #projects img:first-child{
        width: 99.5%;
    }

    aside{
        min-height: 850px;}
}*/

@media screen and (max-width: 840px){
    /*moves nav bar to top of screen
    nav{
        position: absolute;
        margin-top: -150px;
        margin-left: 45%;      
    }

    header{
        justify-content:space-around;
    }

    #shelfie{
        width: 100%;
        margin-top: -1%;
        background-position: center;
        margin-left:0;
    }

    aside{
        min-height: 750px;
    }
}

@media screen and (max-width: 685px) {
    /*aside disappears in favor of title headers inline
    aside{
        display: none;
    }
    
    main{
        width:95%;
        border-left:0;
    }

    main h2{
        display:block;
        padding: 10px;
    }

    nav{
        margin-left:35%;
        font-size: .8em;
    }
}

@media screen and (max-width: 490px){
    /*moves header into 1 column
    nav{
        position:relative;
        margin-top: 0;
        margin-left: 0;
    }

    #me{
        margin-left: 0;
    }

    header{
        height: 350px;
    }

    #shelfie{
        margin-top: 0;
    }
}