/*set color variables*/
:root{
    --color1: lightcyan;
    --color2: darkblue;
    --color3: cyan;
}

/*background color for non-header/footer*/
body{
    background-color: var(--color1);
}

/*arrange items in the header bar*/
header{
    background-color: var(--color2);
    color: var(--color1);
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    flex-wrap: wrap;
}

/*moves name more to the left*/
h1{
    font-size: 1.4em;
    color: var(--color3);
    position: relative;
    margin-left: -25%;
}

/*spreads out the words for the nav links*/
nav{
    padding: 1%;
}

/*makes the links not look like links*/
header a{
    color: var(--color1);
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 15px;
}

/*when hovering over nav link produces overline*/
header a:hover{
    color: var(--color3);
    text-decoration: overline;
}

/*settings for portrait*/
#me{
    height: 80%;
    width: auto;
    margin-left: 6%;
}

/*settings for background image*/
#shelfie{
    width: 65%;
    max-height: 150px;
    background-size: cover;
    background-position: right;
    margin-left: 35%;
    position: relative;
    margin-top: -5%;
}

/*setting main section to flow in a column*/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

h2{
    font-size: 1.8em;
}

/*sets border between header and content*/
section{
    margin: 0 0 3% 5%;
    border-left: 4px solid var(--color3);
    padding-left: 5%;
}

/*flex direction for each section to row*/
main div{
    display: inline-flex;
    flex-direction: row;
}

/*setting for headers set to the side*/
main h2{
    width: 18%;
    padding: 5% 7%;
    text-align: right;
}

/*additional margin for top and bottom content areas*/
#about p,
#contact ul li{
    margin-top: 6%;
}

/*sets projects to appear in a 3x2 pattern with blank in position 4*/
#projects{
    display: flex;
    flex-flow: row-reverse wrap;
}

/*sets images to fit the container*/
#projects img{
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

/*places header for projects inset on the image*/
#projects p{
    position: relative;
    margin-top: -25px;
    margin-left: 5%;
    color: red;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}

/*fills in extra blank room from position 4*/
#firstp{
    margin-bottom:-72%;
}

/*border appears on hover*/
section img:hover{
    border: 5px solid red;
    z-index: 1;
}

/*flex direction at column for project picture groups*/
#projects div{
    flex-direction: column;
    width: 33%;
}

/*orders the images since they are in reverse order naturally*/
#first{order: 3;}

#third{order: 1;}

#fourth{order: 5;}

#fifth{order: 4;}

#second{order:2;}

/*formatting for the contact portion*/
ul li,
ul li a{
    color: var(--color2);
    text-decoration: none;
}

/*aligns and formats content in footer*/
footer{
    text-align: center;
    font-weight: bold;
    color: var(--color3);
    background-color: var(--color2);
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
}

/*moves name over some so as to not intersect with portrait*/
@media screen and (max-width: 1180px) {
    h1{
        margin-left: -10%;
    }
}

/*same as above*/
@media screen and (max-width: 980px) {
    h1{
        margin-left:0;
    }
}

@media screen and (max-width: 840px){
    /*resets the spacing of the header*/
    header{
        justify-content:space-around;
    }

    /*moves nav bar underneath name*/
    nav{
        position: absolute;
        margin-top: 150px;
        margin-left: 45%;      
    }

    /*make background image cover whole screen*/
    #shelfie{
        width: 100%;
        margin-top: -1%;
        background-position: center;
        margin-left:0;
    }

    /*moves over side border to not intersect with words*/
    section{
        margin-left: 8%;
    }

}

@media screen and (max-width: 685px) {
    /*additional formatting setting for nav bar*/
    nav{
        margin-left: 35%;
        font-size: .8em;
    }

    /*makes content area cover whole space*/
    main{
        width:95%;
        border-left:0;
    }

    main h2{
        padding: 10px;
    }
    
    /*changes ordering of things so everything is in a column*/
    main div{
        flex-direction: column;
        align-items: center;
    }

    /*moves side border to top*/
    section{
        border-left: 0;
        border-top: 4px solid var(--color3);
        padding-left: 0;
        padding-top: 2%;
    }
}

@media screen and (max-width: 540px){
    /*moves header into 1 column*/
    nav{
        position:relative;
        margin-top: 0;
        margin-left: 0;
    }

    #me{
        margin-left: 0;
        margin-right: 7%;
    }

    /*expands header background down to fit nav bar*/
    header{
        height: 350px;
    }

    #shelfie{
        margin-top: 0;
    }

    /*single column for projects*/
    #projects{
        flex-direction: column;
        align-items: center;
    }

    /*takes away extra size from project 1*/
    #firstp{
        margin-bottom: 0;
    }

    /*reorders projects since no longer in reverse*/
    #first{order:1;}
    
    #second{order:2;}
    
    #third{order:3;}
    
    #fourth{order:4;}
    
    #fifth{order:5;}

    /*makes projects bigger*/
    #projects img{
        width: 250%;
    }
}